@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*
* Global
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.rotate-y-person {*/
/*    transform: rotateY(3.142rad);*/
/*    filter: drop-shadow(-2mm -1mm 2mm rgba(128, 88, 174, 0.43));*/
/*}*/

.clip-path-polygon {
    clip-path: polygon(
            10px 0,
            calc(100% - 10px) 0,
            100% 10px,
            100% calc(100% - 10px),
            calc(100% - 10px) 100%,
            10px 100%,
            0 calc(100% - 10px),
            0 10px
    );
}

.img-filter {
    img {
        /*filter: hue-rotate(250deg);*/
    }
}

.play-icon svg {
    height: 3.5rem !important;
    width: 3.5rem !important;
    filter: drop-shadow(0 0 .5rem black);
}

.input-id > input {
    color: white !important;
    font-size: 1.15rem !important;

    &::placeholder {
        color: inherit !important;
        font-size: 1.15rem !important;
        opacity: .85;
    }
}

.animate-pulse-op {
    animation: animate-pulse-op-key 1500ms cubic-bezier(0.4, 0, 0.6, 1) infinite alternate-reverse;
}

@keyframes animate-pulse-op-key {
    from {
        opacity: .5;
    }
    to {
        opacity: .25;
    }
}

.title {
    text-shadow: 4px 4px 8px black;
}


.note {
    font-size: 100px;
    color: #C30AD8;
    /*text-shadow:*/
    /*        2px 2px 0 #830893,*/
    /*        4px 4px 0 #4e0755,*/
    /*        0 0 10px #C30AD8,*/
    /*        0 0 20px #C30AD8,*/
    /*        0 0 40px #830893;*/
    text-shadow:
            2px 2px 0 #830893,
            4px 4px 0 #4e0755,
            0 0 15px #da63f4,
            0 0 30px #da63f4,
            0 0 60px #a008b3;

    transform: perspective(600px) rotateX(30deg);
    transform-style: preserve-3d;

    /*animation: pulse 2s infinite ease-in-out;*/
}

@keyframes pulse {
    0%, 100% {
        text-shadow:
                2px 2px 0 #830893,
                4px 4px 0 #4e0755,
                0 0 10px #C30AD8,
                0 0 20px #C30AD8,
                0 0 40px #830893;
    }
    50% {
        text-shadow:
                2px 2px 0 #830893,
                4px 4px 0 #4e0755,
                0 0 15px #da63f4,
                0 0 30px #da63f4,
                0 0 60px #a008b3;
    }
}


.bg-circles div{
    background: radial-gradient(circle at 50%, #4e0755 45%, #da63f4 98%);
    box-shadow: #4e0755 0 0 4px 4px inset;
    margin: 2rem;
}
